.note {
  display: flex;
  padding: 0.6rem;
  border: 2px transparent solid;
  &--vertical {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  &--horizontal {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    &--open {
      border: 2px $dark solid;
      border-radius: 10px;
      background-color: $light;
    }
  }
  &__icon {
    display: block;
    font-size: 1.8rem;
    min-width: 1.8rem;
    color: $lightblue;
    margin: 0.3rem 0.8rem 0.3rem 0;
    cursor: pointer;
    background-color: $darkblue;
    border-radius: 50%;
    transition: all 0.2s;
    &:hover {
      color: $light;
    }
  }
}

[color-theme='dark'] {
  .note {
    &--horizontal--open {
      border: 2px darken($color: $light, $amount: 10) solid;
      background-color: $lightblue;
      color: $dark;
    }
    &__icon {
      color: $darkblue;
      background-color: $light;
      &:hover {
        color: darken($color: $lightblue, $amount: 5);
      }
    }
  }
}
