.switch-color-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;

  @media (max-width: $mobil) {
    right: 10px;
  }
  @media (max-width: $small-mobil) {
    top: 15%;
    right: 30px;
  }
  input[type='checkbox'] {
    border: 0;
    appearance: none;
    width: 60px;
    height: 35px;
    position: relative;
    cursor: pointer;
    background-color: #ececec;
    -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
      inset 0 0 20px 1px rgba(0, 0, 0, 0.488),
      10px 20px 30px rgba(0, 0, 0, 0.096), inset 0 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
      inset 0 0 20px 1px rgba(0, 0, 0, 0.488),
      10px 20px 30px rgba(0, 0, 0, 0.096), inset 0 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: background-image 0.3s;

    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid $darkblue;
    }

    &:before {
      content: '';
      position: absolute;
      width: 31px;
      height: 31px;
      border-radius: 50%;
      background-image: url(/sun.png);
      background-color: $lightblue;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: 2px;
      left: 2px;
      transform: rotate(-110deg);
      transition: all 0.3s;
    }

    &:checked {
      background-color: #b4b4b4;
      &:before {
        background-image: url(/moon.png);
        background-color: $darkblue;
        transform: translateX(25px) rotate(360deg);
      }
    }
  }

  label {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

[color-theme='dark'] {
  .switch-color-mode input[type='checkbox']:focus-visible {
    outline: 2px solid $lightblue;
  }
}
