.copy-to-clipboard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 7px;
  color: $light;
  background-color: lighten($color: $dark, $amount: 20);
  cursor: pointer;
  @media (max-width: $mobil) {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 0.5rem;
  }
  &:hover {
    background-color: $dark;
    color: $lightblue;
    & .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  & .tooltip {
    @include general-font-settings;
    position: absolute;
    opacity: 10;
    visibility: hidden;
    top: -2.7rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: $light;
    padding: 5px;
    color: $dark;
    border-radius: 5px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1rem;
    @media (max-width: $tablet) {
      font-size: 0.8rem;
    }
    @media (max-width: $mobil) {
      bottom: -2.5rem;
      top: auto;
    }
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: 5px solid transparent;
      border-top-color: $light;
      @media (max-width: $mobil) {
        border-top-color: transparent;
        border-bottom-color: $light;
        bottom: 100%;
        top: auto;
      }
    }
    &--copied {
      opacity: 1;
      visibility: visible;
    }
  }
}
.copied {
  color: rgb(158, 255, 158);
  &:hover {
    color: rgb(0, 255, 0);
  }
}

[color-theme='dark'] {
  .copy-to-clipboard {
    background-color: darken($color: $light, $amount: 5);
    color: $dark;
    & .tooltip {
      background-color: lighten($color: $dark, $amount: 20);
      color: darken($color: $light, $amount: 10);
      &::after {
        border-top-color: lighten($color: $dark, $amount: 20);
        @media (max-width: $mobil) {
          border-top-color: transparent;
          border-bottom-color: lighten($color: $dark, $amount: 20);
          bottom: 100%;
          top: auto;
        }
      }
    }
  }
  .copied {
    color: rgb(0, 146, 0);
  }
}
