@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@import './settings.scss';
@import '../pages/Home.scss';
@import '../pages/Informations.scss';
@import '../pages/ErrorPage.scss';
@import '../components/header/Header.scss';
@import '../components/footer/Footer.scss';
@import '../components/note/Note.scss';
@import '../components/collapse/Collapse.scss';
@import '../components/copy-to-clipboard/CopyToClipboard.scss';
@import '../components/switch-color-mode/SwitchColorMode.scss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light;
  color: $dark;
  transition: background-color 0.2s;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @include general-font-settings;
  ::selection {
    background-color: #ffdd00;
    color: $dark;
  }
  @media (min-width: $desktop) {
    max-width: 1400px;
    margin: auto;
  }
  transition: color 0.2s;
}

main {
  margin: 2rem;
  @media (max-width: $mobil) {
    margin: 1rem 0;
  }
}

h1 {
  @include title1;
  @media (max-width: $mobil) {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
h2 {
  @include title2;
}
h3 {
  @include title3;
}

input:focus {
  outline: 2px solid $darkblue;
}
select {
  cursor: pointer;
}

.center {
  text-align: center;
  button,
  .redirect {
    background-color: $darkblue;
    @include general-font-settings;
    @include highlight-body;
    color: $light;
    padding: 7px 8%;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    &:valid {
      &:hover {
        box-shadow: inset -2px -2px 6px $dark, inset 2px 2px 6px $lightblue;
      }
      &:active {
        box-shadow: inset -2px -2px 6px $lightblue, inset 2px 2px 6px $dark;
      }
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
      &:hover {
        animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
      }
    }
  }
  & .redirect {
    padding: 15px 8%;
    text-decoration: none;
    &:hover {
      box-shadow: inset -2px -2px 6px $dark, inset 2px 2px 6px $lightblue;
    }
    &:active {
      box-shadow: inset -2px -2px 6px $lightblue, inset 2px 2px 6px $dark;
    }
  }
}

@keyframes headshake {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(2% * -1);
  }
}

// Styles for dark mode
[color-theme='dark'] {
  background-color: lighten($color: $dark, $amount: 3);
  body {
    color: darken($color: $light, $amount: 10);
    ::selection {
      background-color: #f0e519;
      color: $darkblue;
    }
  }
  .center button,
  .redirect {
    background-color: $lightblue;
    color: $dark;
    &:valid {
      &:hover {
        box-shadow: inset -2px -2px 6px $darkblue, inset 2px 2px 6px $light;
      }
      &:active {
        box-shadow: inset -2px -2px 6px $light, inset 2px 2px 6px $darkblue;
      }
    }
  }
  .center .redirect {
    &:hover {
      box-shadow: inset -2px -2px 6px $darkblue, inset 2px 2px 6px $light;
    }
    &:active {
      box-shadow: inset -2px -2px 6px $light, inset 2px 2px 6px $darkblue;
    }
  }
  input:focus {
    outline: 2px solid $lightblue;
  }
}
