@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@import './settings.scss';
@import '../components/header/Header.scss';
@import '../components/footer/Footer.scss';
@import '../components/note/Note.scss';

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @include general-font-settings;
  @media (min-width: $desktop) {
    max-width: 1400px;
    margin: auto;
  }
}

h1 {
  @include title1;
}
h2 {
  @include title2;
}
h3 {
  @include title3;
}
