@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@import './settings.scss';
@import '../pages/Home.scss';
@import '../pages/Informations.scss';
@import '../pages/ErrorPage.scss';
@import '../components/header/Header.scss';
@import '../components/footer/Footer.scss';
@import '../components/note/Note.scss';
@import '../components/collapse/Collapse.scss';
@import '../components/copy-to-clipboard/CopyToClipboard.scss';
@import '../components/switch-color-mode/SwitchColorMode.scss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include bg-light;
  color: $dark;
}

body {
  margin: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  min-width: 320px;
  min-height: 100vh;
  @include general-font-settings;
  ::selection {
    background-color: #ffdd00;
    color: $dark;
  }
  @media (min-width: $desktop) {
    max-width: 1400px;
    margin: auto;
  }
  transition: color 0.2s;
}

main {
  margin: 2rem 0;
  @media (max-width: $mobil) {
    margin: 1rem 0;
  }
}

h1 {
  @include title1;
  @media (max-width: $mobil) {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
h2 {
  @include title2;
}
h3 {
  @include title3;
}

input {
  border: 1px solid $darkblue;
}

input:focus,
select:focus {
  outline: 1px solid $darkblue;
}
select {
  cursor: pointer;
}

.center {
  text-align: center;
  button,
  .redirect {
    @include button-dark;
    @include general-font-settings;
    @include highlight-body;
    color: $light;
    padding: 7px 8%;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    &:valid {
      &:hover {
        @include reverse-button-dark;
      }
      &:active {
        @include active-button-dark;
      }
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
      &:hover {
        animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
      }
    }
  }
  & .redirect {
    padding: 15px 8%;
    text-decoration: none;
    &:hover {
      @include reverse-button-dark;
    }
    &:active {
      @include active-button-dark;
    }
  }
}

@keyframes headshake {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(2% * -1);
  }
}

// Styles for dark mode
[color-theme='dark'] {
  @include bg-dark;
  body {
    color: darken($color: $light, $amount: 10);
    ::selection {
      background-color: #f0e519;
      color: $darkblue;
    }
  }
  .center button,
  .redirect {
    @include button-light;
    color: $dark;
    &:valid {
      &:hover {
        @include reverse-button-light;
      }
      &:active {
        @include active-button-light;
      }
    }
  }
  .center .redirect {
    &:hover {
      @include reverse-button-light;
    }
    &:active {
      @include active-button-light;
    }
  }
  input:focus {
    outline: 1px solid $lightblue;
  }
}
