// Colors
$light: white;
$dark: #1d1e1e;
$darkblue: #1b3c6e;
$lightblue: #8cc8ff;

// Screen sizes
// > 1600px = large desktop
$desktop: 1600px; // 1175 - 1600px = desktop
$tablet: 1175px; // 720 - 1175 = tablet
$mobil: 720px; // 425 and 720 = mobil
$small-mobil: 425px; // 425 and less = small mobil

// Fonts
@mixin title1 {
  font: 3.5rem 'Prata';
  text-align: center;
  margin: 0.8rem 0;
  @media (max-width: $tablet) {
    font-size: 3.2rem;
  }
  @media (max-width: $mobil) {
    margin: 0.5rem 0;
    font-size: 2.3rem;
  }
}

@mixin title2 {
  font: 3rem 'Prata';
  text-align: center;
  margin: 0.7rem;
  @media (max-width: $tablet) {
    font-size: 2.7rem;
  }
  @media (max-width: $mobil) {
    font-size: 2rem;
  }
}

@mixin title3 {
  font: 2rem 'Prata';
  @media (max-width: $tablet) {
    font-size: 1.9rem;
  }
  @media (max-width: $mobil) {
    font-size: 1.5rem;
  }
}

@mixin highlight-body {
  font-weight: bold;
}

@mixin general-font-settings {
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.7;
  font-weight: 400;
  font-size: 1.3rem;
  color: $dark;
  @media (max-width: $tablet) {
    font-size: 1.13rem;
  }
  @media (max-width: $mobil) {
    font-size: 1rem;
  }
}

@mixin bg-light {
  background: linear-gradient(#fcfcfc, #f1f1f1 60%, #f8f8f8);
}
@mixin bg-dark {
  background: linear-gradient(#101010, #0f0f0f 60%, #1d1e1e);
}

@mixin bg-lightblue {
  background: linear-gradient(#8cc8ff, #5eaef8 60%, #63b3ff);
}
@mixin bg-darkblue {
  background: linear-gradient(#1b3c6e, #0d274f 60%, #0b2650);
}

@mixin button-light {
  background: linear-gradient(#8cc8ff, #78beff 60%, #46a6ff);
}
@mixin button-dark {
  background: linear-gradient(#1b3c6e, #102a51 60%, #091e3e);
}

@mixin reverse-button-light {
  background: linear-gradient(#46a6ff, #78beff 60%, #8cc8ff);
}
@mixin reverse-button-dark {
  background: linear-gradient(#091e3e, #102a51 60%, #1b3c6e);
}

@mixin active-button-light {
  background: linear-gradient(#2589e6, #4aa8ff 60%, #6fb9ff);
}
@mixin active-button-dark {
  background: linear-gradient(#04122b, #081f42 60%, #0f3266);
}
