.informations {
  @media (max-width: $mobil) {
    margin-bottom: 0;
  }
  & ul,
  ol {
    @media (max-width: $mobil) {
      padding-inline-start: 25px;
    }
  }

  & li {
    padding: 0.2rem 0;
    @media (max-width: $mobil) {
      padding: 0.3rem 0;
    }
  }
  & .table-of-contents {
    background-color: $darkblue;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 25vw;
    @media (max-width: $desktop) {
      width: 35vw;
    }
    @media (max-width: $tablet) {
      width: 46vw;
    }
    @media (max-width: $mobil) {
      width: 80%;
      margin: auto;
    }
    & a {
      text-decoration: none;
      color: $light;
      &:hover {
        text-decoration: underline;
      }
    }
    & ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    & li {
      padding: 0.1rem 0;
      margin: 0;
      @media (max-width: $mobil) {
        padding: 0.5rem 0;
      }
    }
  }
  & h2 {
    text-align: start;
    @media (max-width: $tablet) {
      font-size: 2.3rem;
    }
    @media (max-width: $mobil) {
      font-size: 1.6rem;
      text-align: center;
    }
  }
  & form {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: $light;
    & label {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      & select {
        width: 75%;
        margin: 10px auto;
        @include general-font-settings;
        padding: 0 10px;
        height: 40px;
        border-radius: 10px;
        border: 0;
        color: $dark;
        background-color: $lightblue;
        &:focus {
          box-shadow: 0px 0px 10px $darkblue;
        }
        @media (max-width: $mobil) {
          width: 100%;
        }
      }
    }
  }

  & #goal,
  #operation,
  #website-improvement {
    background-color: $lightblue;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 2rem 0;
    @media (max-width: $mobil) {
      border-radius: 0;
      margin: 1rem 0;
    }
  }
  & #goal {
    @media (max-width: $mobil) {
      background-color: transparent;
    }
  }
  & #culture {
    @media (max-width: $mobil) {
      margin: 7px;
    }
  }
  & #website-improvement {
    @media (max-width: $mobil) {
      margin-bottom: 0;
    }
  }
}

#website-improvement {
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: $mobil) {
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }
    & a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: $darkblue;
      &:hover {
        text-decoration: underline;
      }
      &:active {
        color: $light;
      }
      & svg {
        font-size: 2.7rem;
        padding: 0.5rem;
        @media (max-width: $mobil) {
          font-size: 2.4rem;
          margin: 0 0.5rem;
          padding: 0;
        }
      }
    }
  }
  & .email {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

[color-theme='dark'] {
  .informations {
    & .table-of-contents {
      background-color: $lightblue;
      & li a {
        color: $dark;
      }
    }
    form {
      background-color: lighten($color: $dark, $amount: 3);
      & select {
        background-color: lighten($color: $darkblue, $amount: 20);
        color: darken($color: $light, $amount: 10);
      }
    }
    & #goal,
    #operation,
    #website-improvement {
      background-color: $darkblue;
    }
    & #goal {
      @media (max-width: $mobil) {
        background-color: transparent;
      }
    }
    & #website-improvement li a {
      color: darken($color: $light, $amount: 10);
      &:active {
        color: $lightblue;
      }
    }
  }
}
