header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  @include bg-lightblue;
  position: relative;
  @media (max-width: $small-mobil) {
    justify-content: center;
    padding: 0;
  }
  & .navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px 10px;
    @media (max-width: $small-mobil) {
      flex-direction: column;
      width: 100%;
      padding: 0;
    }
    & .icon {
      position: relative;
      padding: 0;
      font-size: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $darkblue;
      @media (max-width: $small-mobil) {
        margin: 20px;
      }

      & .euro {
        font-size: 40px;
        position: absolute;
        bottom: -8px;
        right: -16px;
        color: $light;
      }
    }
    & nav {
      margin-left: 30px;
      @media (max-width: $mobil) {
        margin-left: 20px;
      }
      @media (max-width: $small-mobil) {
        margin: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        @include reverse-button-light;
      }
      & a {
        margin: 0 0.9rem;
        display: inline-block;
        min-width: 120px;
        color: $dark;
        text-decoration: none;

        &:hover {
          font-weight: bold;
        }
        @media (max-width: $mobil) {
          min-width: 100px;
        }
        @media (max-width: $small-mobil) {
          color: #434545;
          border-right: 1px solid rgba(0, 0, 0, 0.2);
          border-left: 1px solid rgba(255, 255, 255, 0.1);
          min-width: 50px;
          margin: 0;
          padding: 10px;
          border-bottom: 2px transparent solid;
        }
      }
      & .active {
        text-decoration: underline;
        @media (max-width: $small-mobil) {
          border-bottom: 2px $darkblue solid;
          font-weight: bold;
          text-decoration: none;
          color: $dark;
          @include active-button-light;
        }
      }
    }
  }
}

[color-theme='dark'] {
  header {
    @include bg-darkblue;
    & .navbar nav a {
      color: darken($color: $light, $amount: 10);
    }
    & .calculator {
      color: $lightblue;
    }
    & nav {
      @media (max-width: $small-mobil) {
        @include reverse-button-dark;
      }
      & a {
        @media (max-width: $small-mobil) {
          border-bottom: 2px transparent solid;
        }
      }
      & .active {
        @media (max-width: $small-mobil) {
          border-bottom: 2px rgba($color: $lightblue, $alpha: 0.8) solid;
          @include active-button-dark;
        }
      }
    }
  }
}
